
@import url('https://fonts.googleapis.com/css?family=Alex+Brush|Caveat&display=swap');

body {
  font-family: 'Caveat', cursive;
}
h1{
  font-family: 'Alex Brush', cursive;
  font-style: italic;
  color: #A5F9CB;
  backround-image: url("https://github.com/Shadow-Satan/Satan/blob/master/s0hYZ.png?raw=true");
}
h2{
  font-style: bold;
  color: #FFFFFF 
}
p{
  color: #FFFFFF 
}
