
@import url('https://fonts.googleapis.com/css?family=Alex+Brush|Caveat&display=swap');

body {
  font-family: 'Caveat', cursive;
  background-image: url("https://github.com/Shadow-Satan/Satan/blob/master/s0hYZ.png?raw=true");
  background-repeat: no-repeat;
  background-size: cover;
}
h1{
  font-family: 'Alex Brush', cursive;
  font-style: italic;
  color: #A5F9CB;
  float: right;
  animation-name: h1yay;
  animation-duration: 8s;
  animation-interation-count: infinite;

}
@keyframes h1yay{
  0% {color: #9279c8;}
  50% { color: green;}
  100%{ color: #9279c8;}

}

h3{
  color: #FFFFFF; 
  float: right;
}
p{
  color: #FFFFFF;
  float: right;
}
.Goodthing{
  font-style: oblique;
  
}
  .GAMES{
    overflow:hidden;
    color:#FFFFFF;

}
.GAMES a {
  float: left;
    display: block;
  color:#FFFFFF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size 17px;
}
.GAMES a:hover{
 color:#5F34F2;
  background-color:#FFFFFF;
}
.GAMES a.active{
  color:#1F5F1F;
  background-color:#FFFFFF;
}
