
@import url('https://fonts.googleapis.com/css?family=Alex+Brush|Caveat&display=swap');

body {
  font-family: 'Caveat', cursive;
  background-image: url("https://github.com/Shadow-Satan/Satan/blob/master/s0hYZ.png?raw=true");
  background-repeat: no-repeat;
  background-size: cover;
}
h1{
  font-family: 'Alex Brush', cursive;
  font-style: italic;
  color: #A5F9CB;
  float: right;

}
h3{
  color: #FFFFFF; 
  float: right;
}
p{
  color: #FFFFFF;
  float: right;
}
.Goodthing{
  oblique
  
}
